<section class="content">
    <div class="card m-b-10">
        <div class="card-body p-10">
            <div class="input-group">
                <span class="input-group-addon m-t-5">
                    <i class="zmdi zmdi-search"></i>
                </span>
                <div class="form-group">
                    <input type="text"
                           class="form-control form-control-line"
                           placeholder="Buscar zona..."
                           #search
                           (keyup)="zoneSearch(search.value)">
                    <i class="form-group__bar" style="bottom: 2px"></i>
                </div>
                <span class="input-group-addon p-t-5" >
                    <i class="zmdi zmdi-close zmdi-hc-2x {{ search.value.length > 0 ? 'text-danger' : 'text-white' }}" (click)="search.value = ''; zoneSearch('')"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="card" style="height: 73vh; overflow-y: auto">

        <!--Loader-->
        <loader *ngIf="isLoading"></loader>

        <!--Guards-->
        <div class="card-body p-10 animated {{ existZones ? 'fadeIn': '' }}" *ngIf="zoneFoundSearch && existZones">

            <table class="table">

                <tbody>
                <tr *ngFor="let zone of zonesSearched; let index = index" (click)="showZone(zone.zonaNombre)">
                    <td class="guards">
                        {{ zone.zonaNombre }}
                    </td>
                </tr>

                </tbody>
            </table>

        </div>

        <!--Zone not found in the Search-->
        <not-found title="Zona" message="no encontrada" style="margin-top: 25%;"
                   *ngIf="!zoneFoundSearch"></not-found>

        <!--Zones not found in the DB-->
        <not-found title="No hay" message="zonas registradas" style="margin-top: 25%;"
                   *ngIf="!existZones && !isLoading"></not-found>

    </div>
</section>
