<section class="content">
    <div class="card m-b-10">
        <div class="card-body p-10">
            <div class="input-group">
                <span class="input-group-addon" style="margin-top: 5px">
                    <i class="zmdi zmdi-search"></i>
                </span>
                <div class="form-group">
                    <input type="text" class="form-control form-control-line" placeholder="Buscar guardia...">
                    <i class="form-group__bar"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="height: 73vh; overflow-y: auto">
        <div class="card-body" style="padding: 10px">

            <table class="table">

                <tbody>
                <tr *ngFor="let guard of guards; let index = index" (click)="showGuard(index)">
                    <td class="guards">
                        {{ guard.usuarioNombre }}
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</section>
