<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>

        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
                <!--<div class="user__info">-->
                <img class="user__img" src="../../../assets/images/user.png" alt="">
                <div>
                    <!--<div class="user__name">Carlos Alatorre</div>-->
                    <div class="user__email">{{ email }}</div>
                </div>
            </div>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="">Cerrar sesión</a>
            </div>
        </div>

        <ul class="navigation">
            <li routerLinkActive="navigation__active"><a [routerLink]="['/usuarios']"><i class="zmdi zmdi-accounts-list"></i> Usuarios</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/guardias']"><i class="zmdi zmdi-shield-check"></i> Guardias</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/zonas']"><i class="zmdi zmdi-pin"></i> Zonas</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/servicios']"><i class="zmdi zmdi-store"></i> Servicios</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/bitacora']"><i class="zmdi zmdi-file-text"></i> Bitacora</a></li>
            <li routerLinkActive="navigation__active"><a [routerLink]="['/asistencia']"><i class="zmdi zmdi-format-list-bulleted"></i> Lista de asistencia</a></li>

            <!--SUB LEVEL-->
            <!--<li routerLinkActive="navigation__sub&#45;&#45;active" class="navigation__sub">-->
            <!--<a (click)="toggleNavigationSub('Charts', $event)"><i class="zmdi zmdi-trending-up"></i> Charts</a>-->

            <!--<ul [@toggleHeight]="navigationSubState.Charts">-->
            <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/charts/flot']">Flot</a></li>-->
            <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/charts/sparklines']">Sparklines</a></li>-->
            <!--</ul>-->
            <!--</li>-->

        </ul>
    </perfect-scrollbar>
</aside>
